{% include 'layout.html' %}

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Student List (Teacher View)
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Click a student to view and manage their reminders
            </h5>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ student.username }}</td>
                    <td>{{ student.email }}</td>
                    <td>
                        <a class="btn btn-outline-primary" href="/admin/user/{{ student.id }}/todos-page">View Reminders</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
